/*Social Proof section*/
.Social-Proof {
  /* Social Proof */
  position: static;
  width: 1440px;
  height: 237px;
  /* 자동 레이아웃 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 64px 80px 64px;

  /* Inside Auto Layout */
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 0px 0px;
}
.Social-Proof-title {
  /* Heading */
  position: static;
  width: 1312px;
  height: 18px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 12px 0px;

  color: rgb(29, 30, 28);
  font-family: Pretendard;
  font-size: 12px;
  font-weight: 100;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}
.Social-Proof-logo {
  /* Row */
  position: static;
  width: 1312px;
  height: 35px;
  /* 자동 레이아웃 */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0px;

  /* Inside Auto Layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 12px 0px;
}
