/*------------------상단 메뉴바------------------*/
.NavBar {
  position: static;
  width: 1440px;
  height: 72px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 64px 0px 64px;

  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}
.container {
  /* Container */
  position: static;
  width: 1312px;
  height: 45px;
  /* 자동 레이아웃 */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  /* Inside Auto Layout */
  margin: 0px 0px;
}
.nav-menu {
  list-style: none;
  /* Column */
  position: static;
  width: 296px;
  height: 26px;
  /* 자동 레이아웃 */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
}

.header-logo {
  /* Logo */
  position: static;
  width: 118.95px;
  height: 24px;
  margin: 0px 645px 0px 0px;
}
.menu-button {
  position: static;
  width: 204px;
  height: 45px;
  /* 자동 레이아웃 */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
}
.menu-button .menu-button1 {
  /* button */
  position: static;
  width: 85px;
  height: 45px;
  /* 자동 레이아웃 */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px 12px 24px;

  /* Inside Auto Layout */
  margin: 0px 12px;

  border: 1px solid rgb(29, 30, 28);
  border-radius: 42px;
  background: rgb(255, 255, 255);
}
.menu-button .menu-button2 {
  /* button */
  position: static;
  width: 95px;
  height: 45px;
  /* 자동 레이아웃 */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px 12px 24px;

  /* Inside Auto Layout */
  margin: 0px 12px;

  border: 1px solid rgb(29, 30, 28);
  border-radius: 42px;
  background: rgb(29, 30, 28);

  color: rgb(255, 255, 255);
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 100;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
.menu-btn-mobile {
  display: none;
}

/*footer*/
.footer-out {
  /* Footer */
  position: static;
  width: 1440px;
  height: 526px;
  /* 자동 레이아웃 */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 64px;
  /* Inside Auto Layout */
  flex: none;
  order: 10;
  flex-grow: 0;
  margin: 0px 0px;
  /*border: solid red 1px;*/
}

.footer-box {
  /* Card */
  position: static;
  width: 1312px;
  height: 340px;
  /* 자동 레이아웃 */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 48px;
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 32px 0px;
  border-radius: 48px;
  background: rgb(29, 30, 28);
}

.footer-left {
  /* Newsletter */
  position: static;
  width: 500px;
  /* 자동 레이아웃 */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  color: white;
  /*border: solid blue 1px;*/
}

.footer-head {
  /* Heading */
  position: static;
  width: 118.95px;
  height: 24px;
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 32px 0px;
}

.footer-textbox {
  /* Frame 67 */
  position: static;
  width: 500px;
  height: 170px;
  /* 자동 레이아웃 */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  /* Inside Auto Layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 32px 0px;
  /*border: solid orange 1px;*/
}

.footer-text {
  /* Text */
  position: static;
  width: 500px;
  height: 26px;
  /* 자동 레이아웃 */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 24px 0px;
  font-size: 14px;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: 0%;
  text-align: left;
  /*border: solid red 1px;*/
}

.footer-textinput {
  /* Form */
  position: static;
  width: 500px;
  height: 45px;
  /* 자동 레이아웃 */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 24px 0px;
}

#footer-input {
  /* Text Input */
  position: static;
  /* 자동 레이아웃 */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 12px;
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 1;
  margin: 0px 24px;
  background-color: transparent;
  border-bottom: 1px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}

.footer-btn {
  /* button */
  position: static;
  width: 108px;
  height: 45px;
  /* 자동 레이아웃 */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px 12px 24px;
  /* Inside Auto Layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 24px;
  border: 1px solid rgb(29, 30, 28);
  border-radius: 42px;
  background: rgb(255, 255, 255);
}

.footer-right {
  /* Links */
  position: static;
  height: 244px;
  /* 자동 레이아웃 */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  /* Inside Auto Layout */
  flex: none;
  order: 1;
  flex-grow: 1;
  margin: 0px 128px;
  /*border: solid red 1px;*/
}

.footer-nav {
  /* Column */
  position: static;
  width: 169.33px;
  height: auto;
  /* 자동 레이아웃 */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 1;
  margin: 0px 40px;
}

.footer-nav-title {
  /* Heading */
  position: static;
  width: 169.33px;
  height: 18px;
  /* 자동 레이아웃 */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 16px 0px;
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-weight: 100;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.footer-nav-contents {
  /* Link */
  position: static;
  width: 169.33px;
  height: 42px;
  /* 자동 레이아웃 */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 8px 0px 8px 0px;
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 1;
  margin: 0px 0px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: 0%;
  text-align: left;
}

.footer-row {
  /* Row */
  position: static;
  height: 26px;
  /* 자동 레이아웃 */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 32px 0px;
  /*border: solid red 1px;*/
}

.footer-copy {
  /* Text */
  position: static;
  height: 26px;
  /* 자동 레이아웃 */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px;
}

.footer-link {
  /* Footer Links */
  position: static;
  height: 21px;
  /* 자동 레이아웃 */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  /* Inside Auto Layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 10px;
}

.footer-link-text {
  /* Link */
  position: static;
  height: 21px;
  /* 자동 레이아웃 */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  /* Inside Auto Layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 24px;
  color: rgb(29, 30, 28);
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
}
