/*FAQ*/
.faq{
    /* FAQ */
    position: static;
    width: 1440px;
    height: 754px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 112px 64px 112px 64px;
    /* Inside Auto Layout */
    flex: none;
    order: 7;
    flex-grow: 0;
    margin: 0px 0px;
    border: solid red 1px;
}

.faq-right{
    /* Section Title */
    position: static;
    width: 528px;
    height: 530px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 32px;
    border: solid blue 1px;
}

.faq-title{
    /* Subheading */
position: static;
width: 528px;
height: 18px;
/* 자동 레이아웃 */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 16px 0px;
color: rgb(29, 30, 28);
font-size: 12px;
font-weight: 100;
line-height: 150%;
letter-spacing: 0%;
text-align: left;
text-transform: uppercase;
}

.faq-title-box{
    /* Frame 62 */
position: static;
width: 528px;
/* 자동 레이아웃 */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 1;
margin: 16px 0px;
border: solid yellow 1px;
}
.faq-main{
/* Heading */
position: static;
width: 528px;
height: 116px;
/* 자동 레이아웃 */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 24px 0px;
color: rgb(29, 30, 28);
font-size: 48px;
font-weight: 700;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
}

.faq-contents{
    /* Text */
position: static;
width: 391px;
height: 76px;
/* 자동 레이아웃 */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 24px 0px;
color: rgb(29, 30, 28);
font-family: Pretendard;
font-size: 14px;
font-weight: 400;
line-height: 180%;
letter-spacing: 0%;
text-align: left;
}
/*CTA*/
.pta{
    /* CTA */
    position: static;
    width: 1440px;
    height: 613px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 112px 64px 112px 64px;
    /* Inside Auto Layout */
    flex: none;
    order: 8;
    flex-grow: 0;
    margin: 0px 0px;
}

.pta-out{
    /* Column */
    position: static;
    width: 1312px;
    height: 389px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 0px 80px;
    border: solid red 1px;
}

.pta-txt-box{
    /* Content */
    position: static;
    width: 1312px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 24px 0px;
    border: solid orange 1px;
}

.pta-txt{
    color: rgb(29, 30, 28);
    font-size: 96px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.pta-txt2{
    /* Text */
    position: static;
    width: 639px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    color: rgb(29, 30, 28);
    font-size: 14px;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 0%;
    text-align: center;
}

.pta-btn{
    /* button */
    position: static;
    height: 45px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px 12px 24px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 16px;
    border: 1px solid rgb(29, 30, 28);
    border-radius: 42px;
    background: rgb(29, 30, 28);
    color: rgb(255, 255, 255);
    font-family: Pretendard;
    font-size: 14px;
    font-weight: 100;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
}

/*blog*/
.blog-out{
    /* Blog */
    position: static;
    width: 1440px;
    height: 1130px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 112px 64px 112px 64px;
    /* Inside Auto Layout */
    flex: none;
    order: 9;
    flex-grow: 0;
    margin: 0px 0px;
    border: solid red 1px;
}

.blog-section{
    /* Section Title */
    position: static;
    width: 768px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px;
    border: solid blue 1px;
}

.blog-section-head{
    /* Subheading */
    position: static;
    width: 126px;
    height: 18px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    margin: 0px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 16px 0px;
    color: rgb(29, 30, 28);
    font-size: 12px;
    font-weight: 100;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    border: solid palegreen 1px;
}

.blog-text-box{
    /* Frame 65 */
    position: static;
    width: 768px;
    height: 124px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    border: solid red 1px;
}

.blog-text{
    /* Heading */
    position: static;
    width: 768px;
    height: 58px;
    /* 자동 레이아웃 */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 8px 0px;
    color: rgb(29, 30, 28);
    font-family: Pretendard;
    font-size: 48px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
}

.blog-img{
    /* Rectangle 1 */
    position: static;
    width: 180px;
    height: 58px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 12px;
}

.blog-footer{
    /* Text */
    position: static;
    width: 520px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 24px 0px;
    color: rgb(29, 30, 28);
    font-size: 14px;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 0%;
    text-align: center;
    border: solid orange 1px;
}

.blog-contents{
    /* Content */
    position: static;
    width: 1312px;
    height: 593px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 80px 0px;
    border: solid orange 1px;
}

.blog-card{
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 50px;
    column-gap: 0px;
    padding-top: 20px;
    border: solid red 1px;
}

.blog-card-contents{
    /* Card */
    position: static;
    width: 416px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 0px 32px;
    border: solid red 1px;
    }

.card-img{
    /* Placeholder / Image */
    position: static;
    width: 416px;
    height: 300px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 24px 0px;
}

.card-text{
    /* Content */
    position: static;
    width: 416px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    }

.card-top{
    /* Info */
    position: static;
    height: 29px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 16px 0px;
}

.card-btn{
    /* Frame 61 */
    position: static;
    height: 29px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px 4px 8px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    border-radius: 8px;
    border: none;
    background: rgb(166, 232, 246);
}

.card-btn2{
    /* Frame 61 */
    position: static;
    height: 29px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px 4px 8px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    border-radius: 8px;
    border: none;
    background: rgb(252, 190, 220);
    }

.card-btn3{
    /* Frame 61 */
    position: static;
    height: 29px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px 4px 8px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    border-radius: 8px;
    border: none;
    background: rgb(211, 249, 133);
    }



.card-top-btn{
    /* Text */
    position: static;
    width: 66px;
    height: 26px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 16px;
    color: rgb(29, 30, 28);
    font-size: 14px;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 0%;
    text-align: left;
}

.card-main{
    /* Heading */
    position: static;
    width: 416px;
    height: 67px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 8px 0px;
    color: rgb(29, 30, 28);
    font-family: Pretendard;
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: left;
}

.card-bottom{
    /* Button */
    position: static;
    height: 24px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    /* Inside Auto Layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 24px 0px;
    }

.card-bottom-text{
    /* Button */
    position: static;
    height: 21px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 8px;
    color: rgb(29, 30, 28);
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
}

.card-bottom-img{
    /* Icon / Chevron Right */
    position: static;
    width: 24px;
    height: 24px;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.view{
    /* button */
    position: static;

    height: 45px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px 12px 24px;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 64px 0px;
    border: 1px solid rgb(29, 30, 28);
    border-radius: 42px;
    background: rgb(255, 255, 255);
}

/*footer*/
.footer-out{
    /* Footer */
    position: static;
    width: 1440px;
    height: 526px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 64px;
    /* Inside Auto Layout */
    flex: none;
    order: 10;
    flex-grow: 0;
    margin: 0px 0px;
    border: solid red 1px;
}

.footer-box{
    /* Card */
    position: static;
    width: 1312px;
    height: 340px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 48px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 32px 0px;
    border-radius: 48px;
    background: rgb(29, 30, 28);
    }

 .footer-left{
    /* Newsletter */
    position: static;
    width: 500px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    color: white;
    border: solid blue 1px;
 }   

 .footer-head{
    /* Heading */
    position: static;
    width: 118.95px;
    height: 24px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 32px 0px;
 }

 .footer-textbox{
    /* Frame 67 */
    position: static;
    width: 500px;
    height: 170px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;

    /* Inside Auto Layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 32px 0px;
    border: solid orange 1px;
 }

 .footer-text{
    /* Text */
    position: static;
    width: 500px;
    height: 26px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 24px 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 0%;
    text-align: left;
    border: solid red 1px;
 }

 .footer-textinput{
    /* Form */
    position: static;
    width: 500px;
    height: 45px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 24px 0px;
 }

 #footer-input{
    /* Text Input */
    position: static;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 12px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 0px 24px;
    background-color: transparent;
    border-bottom: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
 }

 .footer-btn{
    /* button */
    position: static;
    width: 108px;
    height: 45px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px 12px 24px;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 24px;
    border: 1px solid rgb(29, 30, 28);
    border-radius: 42px;
    background: rgb(255, 255, 255);
    }

    .footer-right{
    /* Links */
    position: static;
    height: 244px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 1;
    margin: 0px 128px;
    border: solid red 1px;
    }

    .footer-nav{
     /* Column */
    position: static;
    width: 169.33px;
    height: auto;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 0px 40px;
    }

.footer-nav-title{
    /* Heading */
    position: static;
    width: 169.33px;
    height: 18px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 16px 0px;
    color: rgb(255, 255, 255);
    font-family: Pretendard;
    font-size: 12px;
    font-weight: 100;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
}

.footer-nav-contents{
    /* Link */
    position: static;
    width: 169.33px;
    height: 42px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 8px 0px 8px 0px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 0px 0px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 0%;
    text-align: left;
}

.footer-row{
    /* Row */
    position: static;
    height: 26px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 32px 0px;
    border: solid red 1px;
}

.footer-copy{
    /* Text */
    position: static;
    height: 26px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

.footer-link{
    /* Footer Links */
    position: static;
    height: 21px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 10px;
}

.footer-link-text{
    /* Link */
    position: static;
    height: 21px;
    /* 자동 레이아웃 */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 24px;
    color: rgb(29, 30, 28);
    font-family: Pretendard;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}